.pieContainer {
    text-align: center;
}

.pieLegend {
    background-color: #7041df;
    width: 0.75rem;
    height: 0.75rem;
    display: inline-block;
    margin-right: var(--space-5);
    vertical-align: middle;
}