.popup {
    padding: var(--space-10) var(--space-10) 0 var(--space-10);
}

.popupSection {
    margin-top: var(--space-10);
}

.popupLabel {
    font-size: var(--text-14);
    margin-right: var(--space-10);
    vertical-align: middle;
}

.popupActions {
    margin-top: var(--space-10);
    text-align: center;
}

.popupButton {
    background-color: var(--link-primary);
    color: contrast-color(var(--link-primary));
    border: 1px solid hsl(from var(--link-primary) h s calc(l - 5));
    padding: var(--space-5) var(--space-10);
    border-radius: 4px;
    cursor: pointer;

    &:hover, &:focus {
        background-color: var(--link-secondary);
    }

    &:active {
        background-color: hsl(from var(--link-secondary) h s calc(l - 5));
    }

    &:disabled {
        background-color: #ccc;
        border-color: #aaa;
        cursor: not-allowed;
        color: #555;
    }

    + .popupButton {
        margin-left: var(--space-5);
    }
}

.facilityName {
    font-size: var(--text-16);
}