:root {
    --bg: #F3F3E2;
    --ui-primary: #444422;
    --link-primary: #DD6514;
    --link-secondary: #F48C8C;
    --text-heading: var(--ui-primary);
    --text-primary: #333;
    --text-14: 0.875rem;
    --text-16: 1rem;
    --text-18: 1.125rem;
    --text-20: 1.25rem;
    --text-21: 1.3125rem;
    --space-5: 0.3125rem;
    --space-8: 0.5rem;
    --space-10: 0.625rem;
    --space-13: 0.8125rem;
    --space-15: 0.9375rem;
    --space-18: 1.25rem;
}

body {
    background: var(--bg);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: var(--text-14);
    color: var(--text-primary);
    margin: 0;
    padding: 0;
}


a {
    color: var(--link-primary);
    &:hover, &:focus{
        color: var(--link-secondary);
    }
}

p {
    margin: var(--space-10) 0 var(--space-10) 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, 'Times New Roman', Times, serif
}

h2, h3, h4, h5, h6 {
    color: var(--text-heading);
}

.sr-only {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
